[submodule "/home/felipe/Documents/workspaces/fullcycle/git-github/4-prs-e-code-review/code-review-fullcycle"]
	path = /home/felipe/Documents/workspaces/fullcycle/git-github/4-prs-e-code-review/code-review-fullcycle
	url = https://github.com/gh-noguez/code-review-fullcycle
